canvas {
    border: 1px solid black;
    width: 30;
    height: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: #f6f5f4;
  }
  .invisible {
    display: none;
  }
  div {
    margin: 10px;
  }
  .center-block {
    display: block;
    margin: auto;
  }

.button {
  border: none;
  padding: 20px 40px;
  font-size: 44px;
  position: relative;
  background: transparent;
  color: #043c23;
  text-transform: uppercase;
  border: 3px solid #043c23;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
  align-items: center;
}
