canvas {
    border: 1px solid black;
    width: 30;
    height: 50;
  }
  .invisible {
    display: none;
  }
  div {
    margin: 10px;
  }
  .center-block {
    display: block;
    margin: auto;
  }
  .column {
    width: 10vw;
    height: 30vh;
  }
